<section class="bck color landing text color white">
  <div class="row padding-bottom">
    <div class="column_10 offset_1">
      <div class="text center">
        <h3>
          <strong>What is Group Guidance?</strong>
        </h3>
      </div>
      <h4>
        Group Guidance will help you get needed opinions before you purchase anything online.
      </h4>
    </div>
  </div>
</section>
<section class="bck theme landing">
  <div class="row padding-bottom">
    <div class="column_10 offset_1">
      <div class="text center">
        <h3>
          <strong>How does it work?</strong>
        </h3>
      </div>
      <ul>
        <li>Grab this bookmarklet and put it in your browser's bookmark bar:
          <br><br>
          <a href="javascript:(function(){var head=document.getElementsByTagName('head')[0],script=document.createElement('script');script.type='text/javascript';script.src='http://localhost:3000/bookmarklet.js?'+(Math.random());head.appendChild(script);})(); void 0">
            <button class="icon bookmark-empty bck dark"> Group Guidance</button>
          </a>
        </li>
        <br>
        <li>Find something you'd like to buy online and drag that item's picture or description.</li>
      </ul>
      <h5>
        With Group Guidance you first set a "brain trust" of advisers.  Then, your trusted group will receive an email when you add items to your wishlist.  If an adviser confirms you've made a good choice regarding your item, that adviser will approve it.
      </h5>
    </div>
  </div>
</section>
