<section class="bck color landing text color white">
  <div class="row padding-bottom">
    <div class="column_10 offset_1">
      <div class="text center">
        <h3>
          <strong>What is Group Guidance?</strong>
        </h3>
      </div>
      <h4 class="padding">
        Group Guidance will help you get opinions before you purchase anything online.
      </h4>
    </div>
  </div>
</section>
<section class="bck theme landing">
  <div class="row padding-bottom">
    <div class="column_10 offset_1">
      <div class="text center">
        <h3>
          <strong>How does it work?</strong>
        </h3>
      </div>
      <div>
        <div class="column_3">
          <h4 class="text bold center">Install bookmarklet</h4>
          <hr>
          <h5 class="padding-bottom">
            Grab this bookmarklet and drag it into your browser's bookmark bar:
          </h5>
          <h4>
            <a href="javascript:(function(){var head=document.getElementsByTagName('head')[0],script=document.createElement('script');script.type='text/javascript';script.src='http://localhost:3000/bookmarklet.js?'+(Math.random());head.appendChild(script);})(); void 0">
              <button class="icon bookmark-empty bck dark"> Group Guidance</button>
            </a>
          </h4>
        </div>

        <div class="column_3">
          <h4 class="text bold center">Create Group</h4>
          <hr>
          <h5>
            Set a group to give you trusted opinions
          </h5>
          <h1 class="text center"><span class="icon group"></span></h1>
        </div>

        <div class="column_3">
          <h4 class="text bold center">Shop</h4>
          <hr>
          <h5>
            Find something you'd like to buy online and add it to your pending list.
          </h5>
          <h1 class="text center"><span class="icon shopping-cart"></span></h1>
        </div>

        <div class="column_4">
          <h4 class="text bold center">Group gets email</h4>
          <hr>
          <h5>
            Each group member will receive an email when you add items.  The group will approve or reject your items... majority rules.
          </h5>
          <h1 class="text center"><span class="icon envelope"></span></h1>
        </div>

        <div class="column_5">
          <h4 class="text bold center">Approved items are "unlocked"</h4>
          <hr>
          <h5>
            You can purchase your approved items.
          </h5>
          <br>
          <br>
          <br>
          <br>
          <h1 class="text center"><span class="icon unlock"></span></h1>
        </div>
      </div>

    </div>
  </div>
</section>
