.side-panel
  %h1 Group Guidance

  %h3 Search

  #product-search
    %input#product-search{type: 'text', placeholder: "search Amazon"}
    %input#search{type: 'submit', value: "Search"}

  %h3 User Profile

  .userInfo

#wishlist

#approvedItems